body {
  width: 100px;
}

#container h2 {
  background: #0f0;
  height: 200px;
  border: 1px solid #000;
}

#container p {
  background: #ccc;
  padding-top: 20px;
  padding-bottom: 30px;
}

#container a {
  color: red;
}

#container a:hover {
  color: #0f0;
}

#container a .b {
  color: #ccc;
}

.div1, .div2 {
  width: 200px;
  height: 200px;
  background-color: #000;
  color: red;
}

.div2 {
  color: #ff9999;
}

.arrow {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-right: 50px solid #f00;
}

.icon1 {
  width: 20;
}

.icon2 {
  width: 40;
}

.icon3 {
  width: 60;
}

.icon4 {
  width: 80;
}

.ic1 {
  width: 20;
}

.ic2 {
  width: 40;
}

.ic3 {
  width: 60;
}

.ic4 {
  width: 80;
}

.ic5 {
  width: 100;
}

.success {
  width: 100px;
  background: url(success.jpg);
}

.error {
  width: 100px;
  background: url(error.jpg);
}

.warn {
  width: 100px;
  background: url(warn.jpg);
}

.xx3 {
  width: 300px;
}

.xx4 {
  width: 400px;
}

.aa {
  width: 300px;
}
