body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font-size: 14px;font-family: "PingFangSC-Regular", "Hiragino Sans GB", Arial, Helvetica, "\5B8B\4F53", sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;}
/* a:hover{text-decoration:underline;} */
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
/* button,input,select,textarea{font-size:100%;} */
table{border-collapse:collapse;border-spacing:0;}
.border{
    position: relative;
}
.border::after{
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e4e4e4;
    transform: scale(0.5);
    transform-origin: 0 0;
}
.line::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 7px;
    margin: 0 5px;
    background: #CCCCCC;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}