<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2>{{msg}}</h2>
        <input type="text" v-model='msg'>

        <div>性别:
            <input type="radio" v-model="sex" value="女">女
            <input type="radio" v-model="sex" value="男">男
        </div>

        <div>爱好:
            <input type="checkbox" v-model="hobby" value="吃饭">吃饭
            <input type="checkbox" v-model="hobby" value="睡觉">睡觉
            <input type="checkbox" v-model="hobby" value="打豆豆">打豆豆
        </div>

        <div>学校:
            <select v-model='school'>
                <option value="黑大">黑大</option>
                <option value="农大">农大</option>
                <option value="理工">理工</option>
            </select>
        </div>

        <!-- checkbox 布尔true|false -->
        <input type="checkbox" v-model='isagree'> agree?
    </div>
    <script src="./vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                msg:'hello',
                sex:'女',
                hobby:['吃饭'],
                school:'',
                isagree:false
            }
        });
    </script>
</body>
</html>